*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 600; */
  font-style: normal;
   
  /* font-variation-settings:"wdth" 100; */
}
html,body{
    width: 100%;    
    height: 100%;
    background-color: #F8F8F8;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    /* margin-top: 14px; */padding-top: 0.1px;

}
#nav{
     margin-top: 14px;
    height: 14vh;
    width: 100%;
    border-top: 1px solid black;
     border-bottom: 1px solid black;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#nav h1{
    /* border-right: 1px solid black;
     border-left: 1px solid black; */
     /* background-color: blue; */
     height: 100%;
     width: 20%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: 'monument';
     letter-spacing: -1.1px;
     font-size: 40px;

}
/* resposive ke liye h3 bnaya h menu  */
#nav h3{
    display: none;    
}
#nav h2{
    border-right: 1px solid black;
     /* border-left: 1px solid black; */
     /* background-color: blue; */
     height: 100%;
     width: 21%;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 18px;
     font-weight: 500;
     /* letter-spacing: 1px; */

}
#nav h2:nth-last-child(1){
    width: 13%;
}
#center{
    width: 100%;
    height: 90%;
    /* background-color: red; */
    padding-top: 3vw;
    position: relative;
}
#content{
    position: relative;
    width: 85%;
    height: 90%;
    /* background-color: antiquewhite; */
    margin: auto ;
    margin-top: 10px;
    border: 1px solid black;

}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
       height: 50%;
       width: 100%;
       bottom: 0;
       position: absolute;
       /* background-color: red; */
       padding: 2vw;
      

}
#over1{
     display: flex;
     /* align-items: center; */
     justify-content: space-between;
     /* padding: 20px 29px;
     background-color: pink; */
     border-bottom: 2px solid  #F8F8F8;
     padding-bottom: 20px;
     
}
#over1 h1{
    font-size: 2.5vw;
    font-family: 'monument';
    letter-spacing: 1px;
    color: white ;
}
#over1 #circle{
    height: 100px;
    width: 100px;
    /* background-color: aqua; */
    border-radius: 50%;
    border: 2px solid rgb(241, 238, 238);
    /* border-bottom-right-radius: 2px solid rgb(204, 6, 6); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8F8F8;
}
#over2{
    /* background-color: red; */
    padding-top: 22px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#over2 h3{
    color: white;
    font-weight: 400;
    font-size: 2.7vw;
}
#scroll{
  
    width: 100%;
    height: 40vh;
     display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    /* animation: anime 12s linear 0.5s infinite ; */
}



#scroll img{
  height: 82%;
  width: 17.5%;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
 
  
}
#scroll img:hover{
    box-shadow: 1px 1px 10px rgb(67, 60, 60);
}


#scroll::-webkit-scrollbar{
    display: none;
}
@keyframes anime{
    from{ transform: translateX(0);}
    to{ transform: translateX(-100%);}
}
#alphabet{
    display: flex;
    height: 10vw;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
   
}
#alphabet h5{
    font-size: 1.4vw;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 4px;
    font-weight: 400;
}
#alphabet h6{
    font-size: 1vw;
    font-weight: 400;
    border-radius: 50%;
    /* border: 1px solid black ; */
    padding: 1px 5px;
    cursor: pointer;
}
#alphabet h6:hover{
      border: 1px solid black ;
      font-size: 1.2vw;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 5vw;
    /* background-color: red; */
    position: relative;
}
#page2-part1{
 height: 100%;
 width: 45%;
 background-color: pink;
 background-image: url("https://images.unsplash.com/photo-1609505848912-b7c3b8b4beda?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW9kZWwlMjBwb3RyYWl0fGVufDB8fDB8fHww");
 background-size: cover;
}
#page2-part2{
    height: 100%;
    width: 46%;
    /* background-color: antiquewhite  ; */
}
#page2-part2 #img{
    height: 70%;
    width: 77%;
   
}
#page2-part2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    
}
#page2-part2 #text{
    display: flex;
  /* background-color: blue; */
  align-items: center;
  justify-content: space-between;
  height: 30%;
  width: 77%;
 

}
#page2-part2 #text h3{
    width: 11vw;
    /* background-color: red; */
    font-size: 22px;
    font-weight: 400;
}
#page2-part2 #text h4{
    width: 16vw;
    height: 70%;
   font-weight: 500;
    font-size: 14px;
    /* background-color: aqua; */
}
#page2 h2{
      font-family: 'monument';
      position: absolute;
      top: 93%;
}
#page3{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    
    padding: 15px 40px;
   

  
}
#page3 #conten{
    height: 80%;
    width: 25%;
    background-color: rgb(255, 254, 253);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#page3 #conten img{
    width: 60%;
    height: 50%;
    
}
#page3 #conten p{
 font-size: 20px;
 font-weight: 300;
}
#page3 #photo{
    height: 80%;
    width: 40%;
    background-image: url(https://images.unsplash.com/photo-1613915617430-8ab0fd7c6baf?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZmFzaGlvbiUyMG1vZGVsfGVufDB8fDB8fHww);
  
    background-size: cover;
    /* background-color: rgb(200, 119, 13); */
}
#page4{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4 video{
    width: 80%;
    height: 90%;
    /* border: 1px solid black; */
    /* background-color: aqua; */
}
#overla{
       height: 50%;
       width: 100%;
       bottom: 0;
       position: absolute;
       /* background-color: red; */
       padding: 2vw;
      

}
#page5{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    
}
#page5>h1{
 font-family: "monument";
 text-align: center;
 padding-top: 20px;
 font-size: 2.6vmax;
 font-weight: 600;
  margin-bottom: 60px;
}
#page5 .elem{
    width: 90%;
    height: 18%;
    /* background-color: pink; */
   border-top: 2px solid black;
   margin: auto ;

}
.elem{
    display: flex;
    align-items: center;
    gap: 13vw;
    padding-left: 20px;

}
.elem img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.elem h4{
    font-size: 14px;
    font-weight: 400;
}
.elem h1{
    font-weight: 400;
}
.elem span{
    font-size: 10px;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}
.elem:hover{
    background-color: #aaa7a7;
}
#marque{
    /* height: 15vh; */
    width: 100%;
  
    white-space: nowrap ;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
   
}
#marque h1{
    padding: 5px 0;
    display: inline-block;
    font-size: 4vw;
    -webkit-text-stroke: 2px black;
    color:transparent;  
    font-weight : 900;
    font-family: "monument";
    margin-right: 16px;
    letter-spacing: 2px;
     animation: anime 10s linear 0.2s infinite ;
}

@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX( calc(-100% - 20px));
    }
}
/* ............................................................................................... */
/* ............................................................................................... */

@media (max-width :600px){
    
    body{
        overflow-x: hidden;
    }
 #nav{
     margin-top: 10px;
    height: 8vh;
    padding: 0 5vw;  
}
#nav h1{   
     height: 100%;
     width: 40%;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     font-size: 24px;
}
#nav h3{
    display: block;
}
#nav h2{
     display: none;
}
#nav h2:nth-last-child(1){
    width: 13%;
}
#center{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    padding-top: 3vw;
    position: relative;
}
#content{
    position: relative;
    width: 85%;
    height: 90%;
    /* background-color: antiquewhite; */
    margin: auto ;
    margin-top: 10px;
    border: 1px solid black;

}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
       height: fit-content;
       width: 100%;
       bottom: 0;
       position: absolute;
      
       padding: 2.4vw;
      

}
#over1{
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 2px solid  #F8F8F8;
     padding-bottom: 20px;
     
}
#over1 h1{
    font-size: 3vw;
    font-family: 'monument';
    letter-spacing: 1px;
    color: white ;
}
#over1 #circle{
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    border: 2px solid rgb(241, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8F8F8;
}
#over2{
    padding-top: 4vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#over2 h3{
    color: white;
    font-weight: 300;
    font-size:3vw ;
}
#scroll{
  
    width: 100%;
    height: 20vw;
     display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    /* animation: anime 12s linear 0.5s infinite ; */
}



#scroll img{
  height: 82%;
  width: 17.5%;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 50%;
 
  
}
#scroll img:hover{
    box-shadow: 1px 1px 10px rgb(67, 60, 60);
}


#scroll::-webkit-scrollbar{
    display: none;
}
@keyframes anime{
    from{ transform: translateX(0);}
    to{ transform: translateX(-100%);}

}}
